@use "../var/mixins" as *;

.contacts{
    background-repeat: no-repeat;
    background-position: right center;
    @include lg{
        background-image: url('../images/workers.png');
    }
    .contacts-header{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        margin-bottom: 58px;
    }
}

.contacts-text-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    @include lg{
        align-items: start;
    }
    .free-cons{
        font-weight: 700;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 10px;
    }
    .phone-nums{
        display: flex;
        flex-wrap: wrap;
        font-weight: 700;
        font-size: 18px;
        line-height: 36px;
        padding-left: 51px;
        background-image: url('../images/phone.svg');
        background-repeat: no-repeat;
        margin-bottom: 15px;
        @include lg{
            margin-bottom: 54px;
        }
        a{
            width: 100%;
            @include sm{
                width: inherit;
                font-size: 22px;
            }
        }
        a:not(:last-child){
            margin-right: 50px;
        }
    }
    .gps{
        padding: 5px 0 5px 51px;
        background-image: url('../images/gps.svg');
        background-repeat: no-repeat;
        margin-bottom: 15px;
    }
    .mail{
        padding: 0 0 52px 51px;
        background-image: url('../../images/mail.svg');
        background-repeat: no-repeat;
    }
}



